 

<h2 style="color:forestgreen">Room Booking Service</h2>
<hr style="width:100%" />
<div class="row" style="padding-top: 60px;">
    <div class="col-md-2">
        <button type="button" class="btn btn-outline-primary" onclick="document.location='Home/Create'">CREATE ROOM</button>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-outline-success" onclick="document.location='Home/Update'">UPDATE ROOM</button>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-outline-danger" onclick="document.location='Home/Delete'">DELETE ROOM</button>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-outline-info" onclick="document.location='Home/List'">LIST ROOMS</button>
    </div>
  </div>